/01-aula-operadores/nbproject/private/
/01-aula-operadores/build/
/NumeroAntecessor/nbproject/private/
/NumeroAntecessor/build/
/triangulo/nbproject/private/
/triangulo/build/
/idadeDias/nbproject/private/
/idadeDias/build/
/NumerDeEleitores/nbproject/private/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/AtividadesFinalAula/nbproject/private/
/AtividadesFinalAula/build/
